/* License
 * --------------------------------------------------------------------------------------------------------------------
 * (C) Copyright 2021 Cato Léan Trütschel and contributors 
 * (https://github.com/CatoLeanTruetschel/AsyncQueryableAdapterPrototype)
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 *     http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 * --------------------------------------------------------------------------------------------------------------------
 */

<#@ template debug="false" hostspecific="false" language="C#" #>
<#@ assembly name="System.Core" #>
<#@ import namespace="System.Linq" #>
<#@ import namespace="System.Text" #>
<#@ import namespace="System.Collections.Generic" #>
<#@ output extension=".tt.cs" #>
<#
    var operations = new [] { "Min", "Max", "Sum", "Average" };
#>
using System;
using System.Linq;
using System.Threading.Tasks;
using Xunit;

namespace AsyncQueryableAdapterPrototype.Tests
{
    partial class QueryAdapterSpecification
    {
<# 
foreach(var operation in operations) 
{
    // TODO: This can be done in a better way!
    var canProcessNonPrimitiveType = operation.Equals("Min", StringComparison.Ordinal) || operation.Equals("Max", StringComparison.Ordinal);
    var canBeProcessedInDatabase = operation.Equals("Min", StringComparison.Ordinal) || operation.Equals("Max", StringComparison.Ordinal);
    var optionsName = canBeProcessedInDatabase ? "DisallowImplicitPostProcessing" : "AllowInMemoryEvaluation";
#>

        //
        // Test cases for the <#=operation#> Operation
        //
<#
if(canBeProcessedInDatabase)
{
#>

        // Convertible without post-processing
<#
}
#>
        [Fact]
        public async Task WhereSelect<#=operation#>Test()
        {
            // Arrange
            var queryAdapter = await GetQueryAdapterAsync(<#=optionsName#>);
            var personQueryable = queryAdapter.GetAsyncQueryable<PersonEntry>();
            var expectedQueryResult = _personEntries.Where(p => p.Age > 42).<#=operation#>(p => p.Age);

            // Act
            var queryResult = await personQueryable.Where(p => p.Age > 42).Select(p => p.Age).<#=operation#>Async();

            // Assert
            Assert.Equal(expectedQueryResult, queryResult);
        }

<#
if(canProcessNonPrimitiveType)
{
#>
        [Fact]
        public async Task WhereSelect<#=operation#>NonPrimitiveTest()
        {
            // Arrange
            var queryAdapter = await GetQueryAdapterAsync(<#=optionsName#>);
            var personQueryable = queryAdapter.GetAsyncQueryable<PersonEntry>();
            var expectedQueryResult = _personEntries.Where(p => p.Age > 42).<#=operation#>(p => p.Birthday);

            // Act
            var queryResult = await personQueryable.Where(p => p.Age > 42).Select(p => p.Birthday).<#=operation#>Async();

            // Assert
            Assert.Equal(expectedQueryResult, queryResult);
        }

<#
}
#>
        [Fact]
        public async Task Where<#=operation#>WithSelectorTest()
        {
            // Arrange
            var queryAdapter = await GetQueryAdapterAsync(<#=optionsName#>);
            var personQueryable = queryAdapter.GetAsyncQueryable<PersonEntry>();
            var expectedQueryResult = _personEntries.Where(p => p.Age > 42).<#=operation#>(p => p.Age);

            // Act
            var queryResult = await personQueryable.Where(p => p.Age > 42).<#=operation#>Async(p => p.Age);

            // Assert
            Assert.Equal(expectedQueryResult, queryResult);
        }

<#
if(canProcessNonPrimitiveType)
{
#>
        [Fact]
        public async Task Where<#=operation#>NonPrimitiveWithSelectorTest()
        {
            // Arrange
            var queryAdapter = await GetQueryAdapterAsync(<#=optionsName#>);
            var personQueryable = queryAdapter.GetAsyncQueryable<PersonEntry>();
            var expectedQueryResult = _personEntries.Where(p => p.Age > 42).<#=operation#>(p => p.Birthday);

            // Act
            var queryResult = await personQueryable.Where(p => p.Age > 42).<#=operation#>Async(p => p.Birthday);

            // Assert
            Assert.Equal(expectedQueryResult, queryResult);
        }

<#
}
#>
        [Fact]
        public async Task Where<#=operation#>AwaitTranslatableTest()
        {
            // Arrange
            var queryAdapter = await GetQueryAdapterAsync(<#=optionsName#>);
            var personQueryable = queryAdapter.GetAsyncQueryable<PersonEntry>();
            var expectedQueryResult = _personEntries.Where(p => p.Age > 42).<#=operation#>(p => p.Age);

            // Act
            var queryResult = await personQueryable.Where(p => p.Age > 42).<#=operation#>AwaitAsync(p => new ValueTask<double>(p.Age));

            // Assert
            Assert.Equal(expectedQueryResult, queryResult);
        }

        [Fact]
        public async Task Where<#=operation#>AwaitTranslatableConditionalConstTest()
        {
            // Arrange
            var queryAdapter = await GetQueryAdapterAsync(<#=optionsName#>);
            var personQueryable = queryAdapter.GetAsyncQueryable<PersonEntry>();
            var expectedQueryResult = _personEntries.Where(p => p.Age > 42).<#=operation#>(p => p.Age);

            var constConditionalSelector = BuildAsyncConstConditionalAccessExpression(
                (PersonEntry person) => person.Age);

            // Act
            var queryResult = await personQueryable
                .Where(p => p.Age > 42)
                .<#=operation#>AwaitAsync(constConditionalSelector);

            // Assert
            Assert.Equal(expectedQueryResult, queryResult);
        }

        [Fact]
        public async Task Where<#=operation#>AwaitTranslatableConditionalCapturedTest()
        {
            // Arrange
            var queryAdapter = await GetQueryAdapterAsync(<#=optionsName#>);
            var personQueryable = queryAdapter.GetAsyncQueryable<PersonEntry>();
            var expectedQueryResult = _personEntries.Where(p => p.Age > 42).<#=operation#>(p => p.Age);

            var trueValue = true;

            // Act
            var queryResult = await personQueryable
                .Where(p => p.Age > 42)
                .<#=operation#>AwaitAsync(p => trueValue ? new ValueTask<double>(p.Age) : new ValueTask<double>(p.Age - 1));

            // Assert
            Assert.Equal(expectedQueryResult, queryResult);
        }

        [Fact]
        public async Task Where<#=operation#>AwaitWithCancellationTranslatableTest()
        {
            // Arrange
            var queryAdapter = await GetQueryAdapterAsync(<#=optionsName#>);
            var personQueryable = queryAdapter.GetAsyncQueryable<PersonEntry>();
            var expectedQueryResult = _personEntries.Where(p => p.Age > 42).<#=operation#>(p => p.Age);

            // Act
            var queryResult = await personQueryable
                .Where(p => p.Age > 42)
                .<#=operation#>AwaitWithCancellationAsync((p, c) => new ValueTask<double>(p.Age));

            // Assert
            Assert.Equal(expectedQueryResult, queryResult);
        }

        [Fact]
        public async Task Where<#=operation#>AwaitWithCancellationTranslatableConditionalConstTest()
        {
            // Arrange
            var queryAdapter = await GetQueryAdapterAsync(<#=optionsName#>);
            var personQueryable = queryAdapter.GetAsyncQueryable<PersonEntry>();
            var expectedQueryResult = _personEntries.Where(p => p.Age > 42).<#=operation#>(p => p.Age);

            var constConditionalSelector = BuildAsyncConstConditionalAccessWithCancellationExpression(
                (PersonEntry person) => person.Age);

            // Act
            var queryResult = await personQueryable
                .Where(p => p.Age > 42)
                .<#=operation#>AwaitWithCancellationAsync(constConditionalSelector);

            // Assert
            Assert.Equal(expectedQueryResult, queryResult);
        }

        [Fact]
        public async Task Where<#=operation#>AwaitWithCancellationTranslatableConditionalCapturedTest()
        {
            // Arrange
            var queryAdapter = await GetQueryAdapterAsync(<#=optionsName#>);
            var personQueryable = queryAdapter.GetAsyncQueryable<PersonEntry>();
            var expectedQueryResult = _personEntries.Where(p => p.Age > 42).<#=operation#>(p => p.Age);

            var trueValue = true;

            // Act
            var queryResult = await personQueryable
                .Where(p => p.Age > 42)
                .<#=operation#>AwaitWithCancellationAsync((p, c) => trueValue ? new ValueTask<double>(p.Age) : new ValueTask<double>(p.Age - 1));

            // Assert
            Assert.Equal(expectedQueryResult, queryResult);
        }

#if NETCORE50
        [Fact]
        public async Task Where<#=operation#>AwaitTranslatableValueTaskFactoryMethodTest()
        {
            // Arrange
            var queryAdapter = await GetQueryAdapterAsync(<#=optionsName#>);
            var personQueryable = queryAdapter.GetAsyncQueryable<PersonEntry>();
            var expectedQueryResult = _personEntries.Where(p => p.Age > 42).<#=operation#>(p => p.Age);

            // Act
            var queryResult = await personQueryable
                .Where(p => p.Age > 42)
                .<#=operation#>AwaitAsync(p => ValueTask.FromResult(p.Age));

            // Assert
            Assert.Equal(expectedQueryResult, queryResult);
        }

        [Fact]
        public async Task Where<#=operation#>AwaitWithCancellationTranslatableValueTaskFactoryMethodTest()
        {
            // Arrange
            var queryAdapter = await GetQueryAdapterAsync(<#=optionsName#>);
            var personQueryable = queryAdapter.GetAsyncQueryable<PersonEntry>();
            var expectedQueryResult = _personEntries.Where(p => p.Age > 42).<#=operation#>(p => p.Age);

            // Act
            var queryResult = await personQueryable
                .Where(p => p.Age > 42)
                .<#=operation#>AwaitWithCancellationAsync((p, c) => ValueTask.FromResult(p.Age));

            // Assert
            Assert.Equal(expectedQueryResult, queryResult);
        }
#endif

<#
if(canProcessNonPrimitiveType)
{
#>
        [Fact]
        public async Task Where<#=operation#>AwaitNonPrimitiveTranslatableTest()
        {
            // Arrange
            var queryAdapter = await GetQueryAdapterAsync(<#=optionsName#>);
            var personQueryable = queryAdapter.GetAsyncQueryable<PersonEntry>();
            var expectedQueryResult = _personEntries.Where(p => p.Age > 42).<#=operation#>(p => p.Birthday);

            // Act
            var queryResult = await personQueryable.Where(p => p.Age > 42).<#=operation#>AwaitAsync(p => new ValueTask<DateTime>(p.Birthday));

            // Assert
            Assert.Equal(expectedQueryResult, queryResult);
        }

        [Fact]
        public async Task Where<#=operation#>AwaitNonPrimitiveTranslatableConditionalConstTest()
        {
            // Arrange
            var queryAdapter = await GetQueryAdapterAsync(<#=optionsName#>);
            var personQueryable = queryAdapter.GetAsyncQueryable<PersonEntry>();
            var expectedQueryResult = _personEntries.Where(p => p.Age > 42).<#=operation#>(p => p.Birthday);

            var constConditionalSelector = BuildAsyncConstConditionalAccessExpression(
                (PersonEntry person) => person.Birthday);

            // Act
            var queryResult = await personQueryable
                .Where(p => p.Age > 42)
                .<#=operation#>AwaitAsync(constConditionalSelector);

            // Assert
            Assert.Equal(expectedQueryResult, queryResult);
        }

        [Fact]
        public async Task Where<#=operation#>AwaitNonPrimitiveTranslatableConditionalCapturedTest()
        {
            // Arrange
            var queryAdapter = await GetQueryAdapterAsync(<#=optionsName#>);
            var personQueryable = queryAdapter.GetAsyncQueryable<PersonEntry>();
            var expectedQueryResult = _personEntries.Where(p => p.Age > 42).<#=operation#>(p => p.Birthday);

            var trueValue = true;

            // Act
            var queryResult = await personQueryable
                .Where(p => p.Age > 42)
                .<#=operation#>AwaitAsync(p => trueValue ? new ValueTask<DateTime>(p.Birthday) : new ValueTask<DateTime>(p.Birthday.AddYears(1)));

            // Assert
            Assert.Equal(expectedQueryResult, queryResult);
        }

        [Fact]
        public async Task Where<#=operation#>AwaitWithCancellationNonPrimitiveTranslatableTest()
        {
            // Arrange
            var queryAdapter = await GetQueryAdapterAsync(<#=optionsName#>);
            var personQueryable = queryAdapter.GetAsyncQueryable<PersonEntry>();
            var expectedQueryResult = _personEntries.Where(p => p.Age > 42).<#=operation#>(p => p.Birthday);

            // Act
            var queryResult = await personQueryable
                .Where(p => p.Age > 42)
                .<#=operation#>AwaitWithCancellationAsync((p, c) => new ValueTask<DateTime>(p.Birthday));

            // Assert
            Assert.Equal(expectedQueryResult, queryResult);
        }

        [Fact]
        public async Task Where<#=operation#>AwaitWithCancellationNonPrimitiveTranslatableConditionalConstTest()
        {
            // Arrange
            var queryAdapter = await GetQueryAdapterAsync(<#=optionsName#>);
            var personQueryable = queryAdapter.GetAsyncQueryable<PersonEntry>();
            var expectedQueryResult = _personEntries.Where(p => p.Age > 42).<#=operation#>(p => p.Birthday);

            var constConditionalSelector = BuildAsyncConstConditionalAccessWithCancellationExpression(
                (PersonEntry person) => person.Birthday);

            // Act
            var queryResult = await personQueryable
                .Where(p => p.Age > 42)
                .<#=operation#>AwaitWithCancellationAsync(constConditionalSelector);

            // Assert
            Assert.Equal(expectedQueryResult, queryResult);
        }

        [Fact]
        public async Task Where<#=operation#>AwaitWithCancellationNonPrimitiveTranslatableConditionalCapturedTest()
        {
            // Arrange
            var queryAdapter = await GetQueryAdapterAsync(<#=optionsName#>);
            var personQueryable = queryAdapter.GetAsyncQueryable<PersonEntry>();
            var expectedQueryResult = _personEntries.Where(p => p.Age > 42).<#=operation#>(p => p.Birthday);

            var trueValue = true;

            // Act
            var queryResult = await personQueryable
                .Where(p => p.Age > 42)
                .<#=operation#>AwaitWithCancellationAsync((p, c) => trueValue ? new ValueTask<DateTime>(p.Birthday) : new ValueTask<DateTime>(p.Birthday.AddYears(1)));

            // Assert
            Assert.Equal(expectedQueryResult, queryResult);
        }

#if NETCORE50
        [Fact]
        public async Task Where<#=operation#>AwaitNonPrimitiveTranslatableFactoryMethodTest()
        {
            // Arrange
            var queryAdapter = await GetQueryAdapterAsync(<#=optionsName#>);
            var personQueryable = queryAdapter.GetAsyncQueryable<PersonEntry>();
            var expectedQueryResult = _personEntries.Where(p => p.Age > 42).<#=operation#>(p => p.Birthday);

            // Act
            var queryResult = await personQueryable
                .Where(p => p.Age > 42)
                .<#=operation#>AwaitAsync(p => ValueTask.FromResult(p.Birthday));

            // Assert
            Assert.Equal(expectedQueryResult, queryResult);
        }

        [Fact]
        public async Task Where<#=operation#>AwaitWithCancellationNonPrimitiveTranslatableFactoryMethodTest()
        {
            // Arrange
            var queryAdapter = await GetQueryAdapterAsync(<#=optionsName#>);
            var personQueryable = queryAdapter.GetAsyncQueryable<PersonEntry>();
            var expectedQueryResult = _personEntries.Where(p => p.Age > 42).<#=operation#>(p => p.Birthday);

            // Act
            var queryResult = await personQueryable
                .Where(p => p.Age > 42)
                .<#=operation#>AwaitWithCancellationAsync((p, c) => ValueTask.FromResult(p.Birthday));

            // Assert
            Assert.Equal(expectedQueryResult, queryResult);
        }
#endif
<#
}
#>

<#
if(canBeProcessedInDatabase)
{
#>
        // Convertible only with post-processing
<#
}
#>
        [Fact]
        public async Task Where<#=operation#>AwaitTest()
        {
            // Arrange
            var queryAdapter = await GetQueryAdapterAsync(AllowImplicitDefaultPostProcessing);
            var personQueryable = queryAdapter.GetAsyncQueryable<PersonEntry>();
            var expectedQueryResult = _personEntries.Where(p => p.Age > 42).<#=operation#>(p => p.Age);

            // Act
            var queryResult = await personQueryable.Where(p => p.Age > 42).<#=operation#>AwaitAsync(p => CreateValueTaskAsync(p.Age));

            // Assert
            Assert.Equal(expectedQueryResult, queryResult);
        }

        [Fact]
        public async Task Where<#=operation#>AwaitWithCancellationTest()
        {
            // Arrange
            var queryAdapter = await GetQueryAdapterAsync(AllowImplicitDefaultPostProcessing);
            var personQueryable = queryAdapter.GetAsyncQueryable<PersonEntry>();
            var expectedQueryResult = _personEntries.Where(p => p.Age > 42).<#=operation#>(p => p.Age);

            // Act
            var queryResult = await personQueryable
                .Where(p => p.Age > 42).<#=operation#>AwaitWithCancellationAsync((p, c) => CreateValueTaskAsync(p.Age));

            // Assert
            Assert.Equal(expectedQueryResult, queryResult);
        }

        [Fact]
        public async Task WhereAwait<#=operation#>Test()
        {
            // Arrange
            var queryAdapter = await GetQueryAdapterAsync(AllowImplicitPostProcessing);
            var personQueryable = queryAdapter.GetAsyncQueryable<PersonEntry>();
            var expectedQueryResult = _personEntries.Where(p => p.Age > 42).<#=operation#>(p => p.Age);

            // Act
            var queryResult = await personQueryable.WhereAwait(p => CreateValueTaskAsync(p.Age > 42)).<#=operation#>Async(p => p.Age);

            // Assert
            Assert.Equal(expectedQueryResult, queryResult);
        }          
<# 
} 
#>
    }
}